@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

pre {
  padding: 1em; /* 内側の余白 */
  margin: 0 0 1.5em; /* 外側の余白 */
  border: solid 1px #4d4d4d; /* 枠線（枠線を濃い黒に） */
  background: #25292f; /* 背景色（背景を黒に） */
  color: #fff; /* 文字色（文字を白に） */
  code {
    background: #25292f; /* 背景色（背景を黒に） */
    color: #fff; /* 文字色（文字を白に） */
  }
}

code {
  padding: 0.2em 0.3em; /* 内側の余白 */
  margin: 0 0.2em; /* 外側の余白 */
  border-radius: 5px; /* 角の丸み */
  background: #f1f2f3; /* 背景色 */
  color: #EC4899; /* 文字色 */
  font-size: 0.9em; /* 文字サイズ */
}
